h1 {
    color: brown;
}

p {
    color: blue;
}

body{background-color: #B3ADAA;}

button{
    background-color: beige;
}

p {
    text-align: 100;
    text-decoration: 120;
    background-color: white 
    

}

section{
    background-color: aqua;
    font-style: initial;
    border-color: black;
}

ul {
    color: mediumseagreen;
background-color: chocolate;
border-width: 5px;
border-color: blue;
}

h2 {
    color: blanchedalmond;
    background-color: azure:
    border-width 
    
}